* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.color-black {
    color: $color-primary;
}

.color-white {
    color: $color-secondary;
}

.color-gray {
    color: $color-tertiary;
}

.bg-color-white {
    background-color: $color-secondary;
}

.bg-color-black {
    background-color: $color-primary;
}

.bg-color-body {
    background-color: $color-background-one;
}

.bg-color-reset {
    background-color: $color-background-two;
}

.font {
    font-family: $font-primary;
}

.box-shadow {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
}

.box-shadow-dashboard {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0589711);;
}

.border-bottom {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);;
}





